<%= render "shared/header" %>
<div class='main'>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>商品一覧</h2>
    <div class="subtitle" >
      
    </div>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='list'>
          <%= link_to item_path(item.id) do %>
          <div class='item-img-content'>
            <%= image_tag item.image, class: "item-img" %>
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.product_name %>
            </h3>
          </div>
          <% end %>
        </li>
      <% end %>    
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
