// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trade_item-box-img {
  height: 50vh;
  width: 50vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}